# Ignore everything
/*

# Except .gitignore
!.gitignore

# and except for the Packages folder
!Packages/

# Ignore everything inside Packages except InspectorEnhancements
Packages/*
!Packages/InspectorEnhancements/